{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>  Sophisticated Attendence Record</h1>

  </div>
  <div class="jumbotron text-center">
  	<h2>Sophisticated Attendance Record (SAR) is an application (app) which will
be used to store and retrieve students attendance. This would eliminate almost all the manual
work required to collect and maintain attendance records.

SAR would let teachers record attendance directly to the database through their
mobile phone. This data could be retrieved by any user of the SAR app. </h2>
</div>

  </div>
{% endblock %}
