{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

  <div class="jumbotron text-center">
 <form class="form-signin" method="POST" action="/contactus">
        <h2 class="form-signin-heading">Enter your message here</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.yourname) }}
        {{ wtf.form_field(form.feedback) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Contact Us</button>

      </form>
  </div>

        {% if session.logged_in == NULL %}
  
    {% endif %}
  </div>
{% endblock %}