{% extends "layout.html" %}

{% block body %}

<h2>Report of {{cl.name}}</h2>
<br>
<table class="table table-striped table-bordered">
		<thead class="table-secondary"><tr>
		<td>Students with attendance less than 25%</td>
		<td>Students with attendance less than 75%</td>
		<td>Students with attendance less than 50%</td>
		<td>Students with 100% attendance</td>
	</tr></thead>
	<tbody>
		<tr>
			<td>{{less_25}}</td>

<td>{{less_50}}</td>
<td>{{less_75}}</td>
<td>{{hundred}}</td>		</tr>
	</tbody>
</table>
</br>
</br>
<table class="table table-striped table-bordered">
	<thead class="table-secondary"><tr>
		<td>Name of the student</td>
		
		<td>No. of working days</td>
		<td>Present Days</td>
		<td> Precentage </td>
	</tr>
</thead>
	<tbody>
	{% for s in stud_list %}
	<tr class="{{s[4]}}">
		<td>{{s[0]}}</td>
		<td>{{s[2]}}</td>
		<td>{{s[1]}}</td>
	    <td>{{s[3]}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}